<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sudoku</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet'  href="{{ url_for('static',filename='main.css') }}"> 
    
</head>
<body>
  <div class="print">

    <h1>Sudoku Solver</h1>

  </div>

  <p>{{value}}</p>

      <div class="maincont">
        <form action="/solve" method="POST">
          <div class="table1">
          <table>
            <tr>
                <th><input type="number" value="{{val11}}" min="0" max="9" name="1-1" ></th>
                <th><input type="number" value="{{val12}}" min="0" max="9" name="1-2"></th>
                <th><input type="number" value="{{val13}}" min="0" max="9" name="1-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val14}}" min="0" max="9" name="1-4" ></th>
                <th><input type="number" value="{{val15}}" min="0" max="9" name="1-5"></th>
                <th><input type="number" value="{{val16}}" min="0" max="9" name="1-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val17}}" min="0" max="9" name="1-7" ></th>
                <th><input type="number" value="{{val18}}" min="0" max="9" name="1-8"></th>
                <th><input type="number" value="{{val19}}" min="0" max="9" name="1-9"></th>
            </tr>
          </table>
          </div>

          <hr class="first">

          <div class="table2">
          <table>
            <tr>
                <th><input type="number" value="{{val21}}" min="0" max="9" name="2-1" ></th>
                <th><input type="number" value="{{val22}}" min="0" max="9" name="2-2"></th>
                <th><input type="number" value="{{val23}}" min="0" max="9" name="2-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val24}}" min="0" max="9" name="2-4" ></th>
                <th><input type="number" value="{{val25}}" min="0" max="9" name="2-5"></th>
                <th><input type="number" value="{{val26}}" min="0" max="9" name="2-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val27}}" min="0" max="9" name="2-7" ></th>
                <th><input type="number" value="{{val28}}" min="0" max="9" name="2-8"></th>
                <th><input type="number" value="{{val29}}" min="0" max="9" name="2-9"></th>
            </tr>
          </table>
          </div>

          <div class="table3">
          <table>
            <tr>
                <th><input type="number" value="{{val31}}" min="0" max="9" name="3-1" ></th>
                <th><input type="number" value="{{val32}}" min="0" max="9" name="3-2"></th>
                <th><input type="number" value="{{val33}}" min="0" max="9" name="3-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val34}}" min="0" max="9" name="3-4" ></th>
                <th><input type="number" value="{{val35}}" min="0" max="9" name="3-5"></th>
                <th><input type="number" value="{{val36}}" min="0" max="9" name="3-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val37}}" min="0" max="9" name="3-7" ></th>
                <th><input type="number" value="{{val38}}" min="0" max="9" name="3-8"></th>
                <th><input type="number" value="{{val39}}" min="0" max="9" name="3-9"></th>
            </tr>
          </table>
          </div>


          <div class="table4">
          <table>
            <tr>
                <th><input type="number" value="{{val41}}" min="0" max="9" name="4-1" ></th>
                <th><input type="number" value="{{val42}}" min="0" max="9" name="4-2"></th>
                <th><input type="number" value="{{val43}}" min="0" max="9" name="4-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val44}}" min="0" max="9" name="4-4" ></th>
                <th><input type="number" value="{{val45}}" min="0" max="9" name="4-5"></th>
                <th><input type="number" value="{{val46}}" min="0" max="9" name="4-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val47}}" min="0" max="9" name="4-7" ></th>
                <th><input type="number" value="{{val48}}" min="0" max="9" name="4-8"></th>
                <th><input type="number" value="{{val49}}" min="0" max="9" name="4-9"></th>
            </tr>
          </table>
          </div>

          <hr class="second">

          <div class="table5">
          <table>
            <tr>
                <th><input type="number" value="{{val51}}" min="0" max="9" name="5-1" ></th>
                <th><input type="number" value="{{val52}}" min="0" max="9" name="5-2"></th>
                <th><input type="number" value="{{val53}}" min="0" max="9" name="5-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val54}}" min="0" max="9" name="5-4" ></th>
                <th><input type="number" value="{{val55}}" min="0" max="9" name="5-5"></th>
                <th><input type="number" value="{{val56}}" min="0" max="9" name="5-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val57}}" min="0" max="9" name="5-7" ></th>
                <th><input type="number" value="{{val58}}" min="0" max="9" name="5-8"></th>
                <th><input type="number" value="{{val59}}" min="0" max="9" name="5-9"></th>
            </tr>
          </table>
          </div>

          <div class="table6">
          <table>
            <tr>
                <th><input type="number" value="{{val61}}" min="0" max="9" name="6-1" ></th>
                <th><input type="number" value="{{val62}}" min="0" max="9" name="6-2"></th>
                <th><input type="number" value="{{val63}}" min="0" max="9" name="6-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val64}}" min="0" max="9" name="6-4" ></th>
                <th><input type="number" value="{{val65}}" min="0" max="9" name="6-5"></th>
                <th><input type="number" value="{{val66}}" min="0" max="9" name="6-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val67}}" min="0" max="9" name="6-7" ></th>
                <th><input type="number" value="{{val68}}" min="0" max="9" name="6-8"></th>
                <th><input type="number" value="{{val69}}" min="0" max="9" name="6-9"></th>
            </tr>
          </table>
          </div>


          <div class="table7">
          <table>
            <tr>
                <th><input type="number" value="{{val71}}" min="0" max="9" name="7-1" ></th>
                <th><input type="number" value="{{val72}}" min="0" max="9" name="7-2"></th>
                <th><input type="number" value="{{val73}}" min="0" max="9" name="7-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val74}}" min="0" max="9" name="7-4" ></th>
                <th><input type="number" value="{{val75}}" min="0" max="9" name="7-5"></th>
                <th><input type="number" value="{{val76}}" min="0" max="9" name="7-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val77}}" min="0" max="9" name="7-7" ></th>
                <th><input type="number" value="{{val78}}" min="0" max="9" name="7-8"></th>
                <th><input type="number" value="{{val79}}" min="0" max="9" name="7-9"></th>
            </tr>
          </table>
          </div>


          <div class="table8">
          <table>
            <tr>
                <th><input type="number" value="{{val81}}" min="0" max="9" name="8-1" ></th>
                <th><input type="number" value="{{val82}}" min="0" max="9" name="8-2"></th>
                <th><input type="number" value="{{val83}}" min="0" max="9" name="8-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val84}}" min="0" max="9" name="8-4" ></th>
                <th><input type="number" value="{{val85}}" min="0" max="9" name="8-5"></th>
                <th><input type="number" value="{{val86}}" min="0" max="9" name="8-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val87}}" min="0" max="9" name="8-7" ></th>
                <th><input type="number" value="{{val88}}" min="0" max="9" name="8-8"></th>
                <th><input type="number" value="{{val89}}" min="0" max="9" name="8-9"></th>
            </tr>
          </table>
          </div>

          <div class="table9">
          <table>
            <tr>
                <th><input type="number" value="{{val91}}" min="0" max="9" name="9-1" ></th>
                <th><input type="number" value="{{val92}}" min="0" max="9" name="9-2"></th>
                <th><input type="number" value="{{val93}}" min="0" max="9" name="9-3"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val94}}" min="0" max="9" name="9-4" ></th>
                <th><input type="number" value="{{val95}}" min="0" max="9" name="9-5"></th>
                <th><input type="number" value="{{val96}}" min="0" max="9" name="9-6"></th>
            </tr>
            <tr>
                <th><input type="number" value="{{val97}}" min="0" max="9" name="9-7" ></th>
                <th><input type="number" value="{{val98}}" min="0" max="9" name="9-8"></th>
                <th><input type="number" value="{{val99}}" min="0" max="9" name="9-9"></th>
            </tr>
          </table>
          </div>

          <div class="button">
          <button type="submit" class="btn btn-primary">Solve</button>
          </div>
      </form>

    </div>
  </body>
</html>
